@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

body {
    margin: 0;

    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 300;

}

.area {
    width: 100%;
}

.inner {
    min-height: 20em;
}

.area.right .column {
    float:right;
}

.area.ice {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #404040;
}

.area.grapefruit {
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.orange {
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.skies {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B79A1, #283E51);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B79A1, #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.roseanna {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #404040;
}

.area.lawrencium {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.midnight {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.mystic {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #212121;
}

.area.haze {
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.mauve {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.sea {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.inbox {
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.twitch {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6441A5, #2a0845);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6441A5, #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.kashmir {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #614385, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #614385, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.royal {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #445560);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #445560); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.pinot {
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.area.right .column{
    right: 0;
}

.area.left {
    text-align: left;
}

.title {
    font-family: 'League Spartan';
    font-weight: 500;
    display:block;
    width: 100%;
    font-size: 42px;
}

.inner {
    padding: 4em;
}

.column {
    display: inline-block;
    font-size: 18px;
    max-width: 40em;
}

.column p {
    line-height: 1.5;
}

.social li {
    height: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.1s;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 2px solid white;
}

.ice a:hover {
    border-bottom: 2px solid #404040;
}

.banner::-webkit-scrollbar {
    display: none;
}

.banner {
    transition: .5s;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    padding-left: 3em;
    z-index: 1000;
}

.banner.shaded {
    background: rgba(207, 222, 243, .95)
}

.banner.inverted {
    color: white;
}

.banner.hiding {
    opacity: .15;
}

.banner.hiding:hover {
    opacity: 1;
}

.banner.shaded.inverted {
    background: rgba(0, 0, 0, 0.8);
}

.section {
    cursor: pointer;
    transition: transform .2s;
    display: inline-block;
    padding: 1em;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    font-weight: 400;
}

.banner .section:hover{
    border-bottom: 2px solid black;
    opacity: 0.75;
}

.section.highlighted {
    transform: scale(1.1);
    opacity: 1;
}

.banner.inverted .section:hover {
    border-bottom: 2px solid white;
    opacity: 0.75;
}

.card {
    cursor: pointer;
    height: 20em;
    width: 12em;
    background: white;
    border-radius: 1em 1em 0 0;
    border-bottom: 0px solid white;
    transition: .3s;
    bottom: -11em;
    position: fixed;
    z-index: 1;
    padding: 1em;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    bottom: -7em;
}

.card.rotated-left {
    transform: rotate(-10deg);
}

.card.rotated-right {
    transform: rotate(10deg);
}

.card .description {
    padding: 1em 0;
    color: lightgray;
}